{% extends "layout.html" %}
{% block tab_header %}Top 10 | Rappers{% endblock tab_header %}
{% block content %}
<h1 id="rapper1">{% block rapper1_name %} {% endblock rapper1_name %}</h1>
  <p class="paragraph">
    {% block rapper1_content %} {% endblock rapper1_content %}
  </p>
<h1 id="rapper2">{% block rapper2_name %} {% endblock rapper2_name %}</h1>
  <p class="paragraph">
    {% block rapper2_content %} {% endblock rapper2_content %}
  </p>
<h1 id="rapper3">{% block rapper3_name %} {% endblock rapper3_name %}</h1>
  <p class="paragraph">
    {% block rapper3_content %} {% endblock rapper3_content %}
  </p>
<h1 id="rapper4">{% block rapper4_name %} {% endblock rapper4_name %}</h1>
  <p class="paragraph">
    {% block rapper4_content %} {% endblock rapper4_content %}
  </p>
<h1 id="rapper5">{% block rapper5_name %} {% endblock rapper5_name %}</h1>
  <p class="paragraph">
    {% block rapper5_content %} {% endblock rapper5_content %}
  </p>
<h1 id="rapper6">{% block rapper6_name %} {% endblock rapper6_name %}</h1>
<p class="paragraph">
  {% block rapper6_content %} {% endblock rapper6_content %}
</p>
<h1 id="rapper7">{% block rapper7_name %} {% endblock rapper7_name %}</h1>
  <p class="paragraph">
    {% block rapper7_content %} {% endblock rapper7_content %}
  </p>
<h1 id="rapper8">{% block rapper8_name %} {% endblock rapper8_name %}</h1>
  <p class="paragraph">
    {% block rapper8_content %} {% endblock rapper8_content %}
  </p>
<h1 id="rapper9">{% block rapper9_name %} {% endblock rapper9_name %}</h1>
  <p class="paragraph">
    {% block rapper9_content %} {% endblock rapper9_content %}
  </p>
<h1 id="rapper10">{% block rapper10_name %} {% endblock rapper10_name %}</h1>
  <p class="paragraph">
    {% block rapper10_content %} {% endblock rapper10_content %}
  </p>
{% endblock content %}
