{% extends "layout.html" %}
{% block tab_header %}Top 10 | Log In{% endblock tab_header %}
{% block content %}
  <form method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div style="color: red">
            {{ message }}
          </div>
        {% endfor %}
        <br />
      {% endif %}
    {% endwith %}
    {{ form.hidden_tag() }}
    {{ form.email_or_username.label }}
    <br>
    {{ form.email_or_username }}
    <br>
    <br>
    {{ form.password.label }}
    <br>
    {{ form.password }}
    <br>
    {{ form.submit }}
  </form>
  <div class="sign-up-link">
    <h2>Don't have a Top 10 Account?</h2>
    <a href="{{ url_for('signup') }}">Sign Up</a>
  </div>
{% endblock content %}
