{% extends "layout.html" %}
{% block content %}
  <form class="login" action="index.html" method="post">
    <label for="email">Email</label><br>
      <input type="text" name="email" id="email-login" maxlength="100" spellcheck="false" required="true"><br><br>
      <label for="password">Password</label><br>
        <input type="password" name="password" id="password-login" maxlength="16" spellcheck="false" required="true"><br><br>
      <button type="submit" name="button" class="btton-login">Log In</button>
  </form>
  <div class="sign-up-link">
    <h2>Don't have a Top 10 Account?</h2>
    <a href="{{ url_for('signup') }}">Sign Up</a>
  </div>
{% endblock content %}
