{% extends "layout.html" %}
{% block tab_header %}Top 10 | Sign Up{% endblock tab_header %}
{% block content %}
  <br><br>
  <div class="registration">
    <h1>Sign Up Here</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.username.label }}
      <br>
      {{ form.username }}
      {% if form.username.errors %}
        <br>
        <span style="color: red">{{ form.username.errors[0] }}</span>
      {% endif %}
      <br>
      <br>
      {{ form.email.label }}
      <br>
      {{ form.email }}
      {% if form.email.errors %}
        <br>
        <span style="color: red">{{ form.email.errors[0] }}</span>
      {% endif %}
      <br>
      <br>
      {{ form.password.label }}
      <br>
      {{ form.password }}
      <br>
      <br>
      {{ form.confirm_password.label }}
      <br>
      {{ form.confirm_password }}
      {% if form.confirm_password.errors %}
        <br>
        <span style="color: red">{{ form.confirm_password.errors[0] }}</span>
      {% endif %}
      <br />
      {{ form.submit }}
    </form>
  </div>
{% endblock content %}
