{% extends "layout.html" %}
{% block content %}
  <br><br>
  <div class="login-sign-in">
    <h1>Sign Up Here</h1>
    <form class="sign-up" action="../../../index.html" method="post">
      <label for="fname">First Name</label><br><br>
        <input type="text" name="fname" id="fname" maxlength="100" spellcheck="false" required="true" placeholder="Enter First Name"><br><br>
      <label for="lname">Last Name</label><br><br>
        <input type="text" name="lname" id="lname" maxlength="100" spellcheck="false" required="true" placeholder="Enter Last Name"><br><br>
      <label for="email-sign">Email</label><br><br>
        <input type="text" name="email-sign" id="email-sub" maxlength="100" spellcheck="false" required="true" placeholder="Enter Email Here"><br><br>
      <label for="password-sign">Password</label><br><br>
        <input type="text" name="password-sign" id="password-sign" maxlength="16" spellcheck="false" required="true" placeholder="Enter Password Here"><br><br>
      <label for="password-sign-re">Password</label><br><br>
        <input type="text" name="password-sign-re" id="password-sign-re" maxlength="16" spellcheck="false" required="true" placeholder="Repeat Password Here"><br><br>
    </form>
  </div>
{% endblock content %}
