{% extends "layout.html" %}
{% block content %}
<h1 id="person1">{% block person1_name %} {% endblock person1_name %}</h1>
  <p class="paragraph">
    {% block person1_content %} {% endblock person1_content %}
  </p>
<h1 id="person2">{% block person2_name %} {% endblock person2_name %}</h1>
  <p class="paragraph">
    {% block person2_content %} {% endblock person2_content %}
  </p>
<h1 id="person3">{% block person3_name %} {% endblock person3_name %}</h1>
  <p class="paragraph">
    {% block person3_content %} {% endblock person3_content %}
  </p>
<h1 id="person4">{% block person4_name %} {% endblock person4_name %}</h1>
  <p class="paragraph">
    {% block person4_content %} {% endblock person4_content %}
  </p>
<h1 id="person5">{% block person5_name %} {% endblock person5_name %}</h1>
  <p class="paragraph">
    {% block person5_content %} {% endblock person5_content %}
  </p>
<h1 id="person6">{% block person6_name %} {% endblock person6_name %}</h1>
<p class="paragraph">
  {% block person6_content %} {% endblock person6_content %}
</p>
<h1 id="person7">{% block person7_name %} {% endblock person7_name %}</h1>
  <p class="paragraph">
    {% block person7_content %} {% endblock person7_content %}
  </p>
<h1 id="person8">{% block person8_name %} {% endblock person8_name %}</h1>
  <p class="paragraph">
    {% block person8_content %} {% endblock person8_content %}
  </p>
<h1 id="person9">{% block person9_name %} {% endblock person9_name %}</h1>
  <p class="paragraph">
    {% block person9_content %} {% endblock person9_content %}
  </p>
<h1 id="person10">{% block person10_name %} {% endblock person10_name %}</h1>
  <p class="paragraph">
    {% block person10_content %} {% endblock person10_content %}
  </p>
{% endblock content %}
